/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url(Background.jpg) no-repeat center center fixed; 
  background-size: cover;
  padding: 30px;
}
body {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* navbar header */
.masthead{
  z-index: 99;
}

.mastfoot{
  z-index:0;
}
/*
 * Header
 */
/*.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing *//*
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}*/
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
-----------------------------------
EVENTS
-----------------------------------
*/

#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3, 
#thumbnail-preview-indicators .slides .slide-t1, 
#thumbnail-preview-indicators .slides .slide-t2, 
#thumbnail-preview-indicators .slides .slide-t3{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1, 
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3, 
    #thumbnail-preview-indicators .slides .slide-t1, 
    #thumbnail-preview-indicators .slides .slide-t2, 
    #thumbnail-preview-indicators .slides .slide-t3 {
      height: 480px;
    }

/*events*/
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(https://i.ytimg.com/vi/Vlztayrh6L4/maxresdefault.jpg); 
  opacity:.85;
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url("christmas1.jpg");
  opacity:.85;
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(https://i.ytimg.com/vi/mMmimilRyYo/maxresdefault.jpg);
  opacity:.85;
}

/*teacher*/
#thumbnail-preview-indicators .slides .slide-t1 {
  background-image: url("piano3.jpg"); 
  opacity:.7;
}
#thumbnail-preview-indicators .slides .slide-t2 {
  background-image: url("piano2.jpg");
  opacity:.7;
}
#thumbnail-preview-indicators .slides .slide-t3 {
  background-image: url("concert1.jpg");
  left:0;
  opacity:.7;
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}


/*
 * Affix and center
 */

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
*/

/* Jumbotron */
.jumbotron {
  text-align: center;
  position: relative;
  z-index: 1;
  opacity: 1;
  background-color:transparent;
  max-width:100%;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron .bg{
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("generic.jpg") center center;
    background-size: 1200px 700px;
    background-position: center;
    opacity: .7;
    width: 100%;
    height: 100%;
    max-width:100%;
}

/* Supporting content */
.marketing {
  margin: 40px 0;
  padding: 10px;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.marketing p + h4 {
  margin-top: 28px;
}
.marketing .bg{
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("black.png") center center;
    opacity: .8;
    width: 100%;
    height: 100%;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.teacher .featurette{
  margin-left: 250px;
}

.teacher .featurette h4{
  text-align: justify;
}

.teacher .featurette h2, h1{
  text-align: center;
  margin-left: 0px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin-left: 250px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-left: 250px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #000000;
}
.footer p {
  padding:10px;
}
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
